.poke-item,
.skeleton-item {
  color: #333;
  display: flex;
  text-decoration: none;
  justify-content: center;
  /* padding: 10px 40px; */
}

.skeleton-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 12px;
}

.poke-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poke-heading {
  display: flex;
  font-size: 1.4rem;
}

.poke-index {
  margin-right: 8px;
}

.poke-stat {
  padding: 0 20px 0 0;
}

.poke-item:nth-child(2n) {
  background-color: hsl(0, 0%, 96%);
}

.poke-item:hover {
  background-color: hsl(0, 0%, 88%);
}
